@import "variables";
@import "mixin";
@import "extend";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}

header {
    background: rgba($secondaryColor,0.5);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    .logo {
        width: 50%;
        float: left;
        h2 {
            color: #fff;
            padding: 10px 0;
        }
    }
    ul {
        width: 50%;
        float: left;
        display: flex;
        list-style: none;
        padding: 10px 0;

        li {
            padding: 10px 15px;
            a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                @include Trans;
                
                &:hover {
                    color: $primaryColor;
                }
            } 
        }
    }
}

//home 
.home {
    background: $home-bg;
    background-size: cover;
    padding: 0;
    height: 100vh;
    text-align: center;
    position: relative;

    .home-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            @extend .h2;
        }
        span {
            @extend .span;
        }
        p {
            @extend .p;
        }
        button {
            @extend .button-p;
            
        }
    }
}

//need
.need {
    background: $primaryColor;
    text-align: center;
    padding: 3rem 0;

    h2 {
        @extend .h2;
    }
    span {
        @extend .span;
        background: #fff;

    }
    p {
        @extend .p;
    }
    button {
        @extend .button-s;
        @include Trans;
        background: #fff;
        color: $secondaryColor;

        &:hover {
            color: #fff;
            background: $secondaryColor
        }
    }
}
//service 
.service {
    padding: 5rem 0;
    background: #fff;
    text-align: center;
    h2 {
        @extend .h2;
        color: $secondaryColor;
    }
    span {
        @extend .span;
    }
    .service-parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        margin: 1.5rem 0;
        i {
            color: $primaryColor;
        }
        h3 {
            margin: 1rem;
            color: #333;
        }
        p {
            color: #9b9b9b;
        }
    }
}
//images
.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
    
    .image {
        position: relative;
        
        img {
            width: 100%;
         }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(lighten($primaryColor, 5), 0.5);
            opacity: 0;
            @include Trans;
        }
        &:hover {
             &:after {
                opacity: 1
            }
            
        }
    }
}
//dowload
.download {
    background: $secondaryColor;
    text-align: center;
    padding: 5rem 0;
    
    h2 {
        @extend .h2;
    }
    button {
        @extend .button-s;
        margin: 1rem 0;
    }
}
//get-touch 
.get-touch {
    text-align: center;
    padding: 5rem 0;
    
    h2 {
        @extend .h2;
        color: #333;
    }
    > span {
        @extend .span;
    }
    p {
        @extend .p;
    }
    .touch {
        display: flex;
        justify-content: center;
        .item {
            margin: 1rem 1.5rem;
            i {
                display: block
            }
            &:last-child {
                span {
                    color: $primaryColor;
                }
            }
        }
    }
}

@import "media";